{% extends "base.html" %}

{% block body %}
<body>
  <h3 align="center">Vertical Cylinder</h3>

  <div style="display: flex; flex-wrap: wrap; justify-content: center;">
  <div>
      <form action="" method="post" name="VertCyl">
        Please enter the dimensions:<br>
        {{ form.hidden_tag() }}
        {{ form.height.label }}{{ form.height(size=20) }}<br>
        {% for error in form.height.errors %}
          {{ error }}<br>  
        {% endfor %}  
        {{ form.diameter.label }}{{ form.diameter(size=20) }}<br>
        {% for error in form.diameter.errors %}
          {{ error }}<br>  
        {% endfor %}  
        {{ form.units.label }}{{ form.units }}<br>
        {{ form.submit }}<br><br>
        {{ form.calculate }}<br>
        Volume = {{ calculatedevolume }} {{ volumeunits }}<br>
      </form>
    </div>
    <div>
      <img src="/static/Vertical Cylinder.png"  class="img-fluid"  alt="Smiley face">
  <!--    <img src="/static/Vertical Cylinder.png"  alt="Smiley face" style="float: right; width: 220px; height: 220px;"> -->
    </div>
  </div>
</body>
{% endblock %}



 


